@import "../scss_partials/variables";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 60px;
    background-color: #fff;
    box-shadow: 0px 7px 15px -3px rgba(0,0,0,0.1);
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
        font-size: 24px;
    }

    .menu {
        display: none;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin: 20px;
            font-size: 18px;

            a {
                font-weight: weight(bold);
                text-decoration: none;
                transition: .5s;
                color: $primary-color;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }

    
    @media screen and (max-width : 800px) {
        padding: 30px 60px;

        .menu {
            display: block;
            cursor: pointer;
            padding: 20px;
            position: relative;
            z-index: 2;

            &:hover{
                &::after, &::before {
                    background-color: $hover-color;
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                margin: auto;
                width: 40px;
                height: 4px;
                background-color: $primary-color;
                transform: translateY(-10px);
                transition: .5s;
            }

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                width: 30px;
                height: 4px;
                background-color: $primary-color;
                transition: .5s;
            }

            &.close::before {
                width: 30px;
                transform: translateY(0);
                transform: rotate(-225deg);
                margin: 0;
            }
            &.close::after {
                width: 30px;
                transform: rotate(225deg);
            }
        }
        
        ul {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .5s;

            &.toggle {
                left: 0;
            }

            li {
                margin: 35px 0;
            }

            li a {
                font-size: 24px;
                font-weight: weight(medium);
                transition: .5s;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
}