@import "../scss_partials/variables";

.navbar {
    padding: 20px 60px;
    box-shadow: 0px 7px 15px -3px rgba(0,0,0,0.1);
    font-family: $primary-font;
    color: $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header {
        font-size: 24px;
    }

    .menu {
        display: none;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin: 20px;
            font-size: 18px;

            a {
                font-weight: weight(bold);
                text-decoration: none;
                color: $primary-color;
            }
        }
    }

    
    @media screen and (max-width : 800px) {
        padding: 30px 60px;

        .menu {
            display: block;
            cursor: pointer;
            padding: 20px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                margin: auto 0;
                width: 30px;
                height: 4px;
                background-color: $primary-color;
            }

            &::after {
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 30px;
                height: 4px;
                background-color: $primary-color;
            }
        }
        
        ul {
            display: none;
        }
    }
}