@import "../scss_partials/variables";

.project {
    display: flex;
    justify-content: space-between;
    max-height: 450px;
    width: 990px;
    margin: 200px auto;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
    img {
        border-radius: 20px;
        width: 55%;
        object-fit: cover;
        transition: 4s;
    }

    &:hover {
        h1 {
            color: $hover-color;
        }
    }

    .info {
        width: 40%;
        text-align: center;
        align-self: center;

        .warning {
            color: orange;
            font-weight: weight(bold);
        }

        h1 {
            transition: .7s;
            margin-bottom: 20px;
            font-size: 20px;
        }

        p {
            font-size: 18px;
            font-weight: weight(regular);
            margin-bottom: 40px;
        }

        .links {
            display: flex;
            justify-content: space-around;
            font-size: 22px;
            a {
                text-decoration: none;
                color: $primary-color;
                font-weight: weight(medium);
                transition: .5s;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
}