@import "./scss_partials/reset";
@import "./scss_partials/variables";

.tagcloud .tagcloud{
    font-weight: weight(bold);
    width: 300px !important;
    height: 300px !important;
}

.tagcloud--item {
    color: $primary-color;
    transition: .7s;

    &:hover {
        color: $hover-color;
    }
}
